/* Basic Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
}
.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}
#start-screen h1 {
    color: green;
    font-size: 2.5rem;
 }
#start-screen p {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}
 .quiz-header{
    margin-bottom: 2rem;
 }
#question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}
.quiz-info{
    display: flex;
    justify-content: space-between;
    color: #666;
    font-size:1rem;
    margin-bottom: 10px;
}

.answers-container {
    display:flex;
    flex-direction: column;
    gap:10px;
    margin-bottom:25px;
}

.answer-btn {
    background-color: white;
    color: black;
    border: 2px solid green;
    border-radius:10px;
    padding:1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}
.answer-btn:hover {
    background-color: lightslategray;
    border-color: gray;
}

.answer-btn.correct{
    background-color: #e6fff0;
    border-color: #a3f0c4;
    color: #28a745;
}
.answer-btn.incorrect{
    background-color: #fff0f0;
    border-color: #ffbdbd;
    color: #dc3545;
}
.progress-bar {
    height: 10px;
    background-color:whitesmoke;
    border-radius: 5px;
    overflow:hidden;
    margin-top: 20px;
}
.progress {
    height: 100%;
    background-color: #28a745;
    width: 0%;
    transition: width 0.3s ease;
}

#result-screen h1{
    color: #9af19a;  
    margin-bottom: 30px;
}

.result-info {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}
.result-info p {
    font-size: 1.2rem;
    color: black;
    margin-bottom: 1rem;
}
#result-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #9af19a;
}

button{
    background-color: #9af19a;
    color: white;
    border:none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
}
 button:hover {
    background-color: #83c125;
 }

@media (max-width:500px) {
    .screen{
        padding: 1rem;
    }
    #start-screen h1 {
        font-size: 2rem;
}
    .answer-btn {
        padding: 12px;
    }
    button {
        padding: 12px 25px;
        font-size: 1rem;
    }
 }